.answer-container {
 padding: 30px;
}


.answers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.answer {
        background-color: rgb(223, 190, 141);
        color: black;
        margin-bottom: 20px;
        border-radius: 7px;
        padding: 10px 10px 0 20px;
}


.question {
    background-color: rgb(223, 190, 141);
    background-color: #eaf5e9;
    color: black;
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 10px 10px 0 20px;
}
