.answer-container {
 padding: 30px;
}

#question-to-answer {
    background-color: #ffffe4;
}

.answers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#my-answer {
    background-color: #ffffe4;
    border: black;
}
