/**********************************************************************************************************************
 * Log-in
 */
 #title {
    font-size: 80px;
    color: white;
  }
  
 .auth.page {
    padding: 0;
    min-height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #75d289;
    color: #ffffff;
  }
  .auth.page .logo {
    font-size: 9em;
    color: #ffffff;
  }
  .auth.page h1 {
    color: #eeeeee;
  }
  .auth.page .auth-box {
    flex: 1 0 auto;
    padding: 1em 2em 2em;
    font-size: 1.2rem;
  }
  .auth.page .auth-box .auth-title {
    text-align: center;
  }
  .auth.page .auth-box ::-webkit-input-placeholder {
    color: #cccccc;
    opacity: 1;
    font-family: Poppins, sans-serif;;
    font-size: 1rem;
    font-weight: normal;
  }
  .auth.page .auth-box ::-moz-placeholder {
    color: #cccccc;
    opacity: 1;
    font-family: Poppins, sans-serif;;
    font-size: 1rem;
    font-weight: normal;
  }
  .auth.page .auth-box :-ms-input-placeholder {
    color: #cccccc;
    opacity: 1;
    font-family: Poppins, sans-serif;;
    font-size: 1rem;
    font-weight: normal;
  }
  .auth.page .auth-box :-moz-placeholder {
    color: #cccccc;
    opacity: 1;
    font-family: Poppins, sans-serif;;
    font-size: 1rem;
    font-weight: normal;
  }
  .auth.page .auth-box ::placeholder {
    color: #cccccc;
    opacity: 1;
    font-family: Poppins, sans-serif;;
    font-size: 1rem;
    font-weight: normal;
  }
  .auth.page .auth-box .input-container {
    margin-bottom: 0.75rem;
  }
  .auth.page .auth-box input {
    font-size: 1.2rem;
    width: 100%;
    background-color: #ffffff;
    border: solid 2px #ffffff;
    border-radius: 3px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    padding: 1em;
    height: auto;
  }
  .auth.page .auth-box input:hover, .auth.page .auth-box input:focus {
    border-width: 2px !important;
  }
  .auth.page .auth-box sp-checkbox {
    display: flex;
    justify-content: center;
  }
  .auth.page .auth-box sp-checkbox .sp-checkbox {
    justify-content: center;
    margin-top: 1em;
  }
  .auth.page .auth-box sp-checkbox .sp-checkbox .checkbox {
    border-radius: 3px;
    border: none;
    padding: 0.7em;
    background-color: #ffffff;
  }
  .auth.page .auth-box sp-checkbox .sp-checkbox .checkbox + .label {
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 0 1em;
  }
  .auth.page .auth-box sp-checkbox .sp-checkbox .fa-check {
    color: #c91f34;
  }
  .auth.page .auth-box sp-checkbox .sp-checkbox.sp-disabled {
    background-color: inherit;
  }
  .auth.page .auth-box sp-checkbox .sp-checkbox.sp-disabled .checkbox {
    background-color: #aaaaaa;
    color: #999999;
  }
  .auth.page .auth-box .login-btn {
    font-family: Sansation, sans-serif;
    font-weight: 200;
    font-size: 1.2em;
    padding: 0.7em 1em;
    background-color: #75d289;
    border-radius: 3px;
  }
  .auth.page .auth-box .login-btn[disabled] {
    color: inherit;
    background-color: #aaaaaa;
  }
  .auth.page .auth-box .login-btn:not([disabled]):hover {
    filter: brightness(90%);
  }
  .auth.page .footer {
    text-align: center;
    padding: 1em;
    font-size: 0.7em;
    color: #222222;
  }
  .auth.page .footer a {
    color: #ffffff;
  }
  .auth.page .footer .vertical-separator {
    opacity: 0.4;
    margin: 0 1em;
  }
  .auth.page .linear-activity {
    background-color: #B3E5FC;
  }
  .auth.page .determinate {
    background-color: #03A9F4;
  }
  .auth.page .indeterminate:before {
    background-color: #03A9F4;
  }
  .auth.page .indeterminate:after {
    background-color: #B3E5FC;
  }
  .auth.page .linear-activity {
    position: static;
  }
  .flex {
    text-align: center;
  }